# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Uploads
uploads/

# Node (for frontend later)
node_modules/
.next/


# Firebase
jansahayak-firebase-credentials.json